* {
    font-family: sans-serif; 
}

body {
    background-color: rgb(235, 176, 14);
}

p {
    font-size: 22px;
    font-weight: bold;
}

li {
    font-size: 18px;
}

h1 {
    text-align: center;
    font-size: 50px;
    background-color: rgb(218, 207, 66);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}